<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uee">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TutorSaathi"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ShowStudentsInFeeReport"></activity>
        <activity android:name=".ReportExpenses" />
        <activity android:name=".ReportIncome" />
        <activity android:name=".ReportFees" />
        <activity android:name=".ReportAttendance" />
        <activity
            android:name=".ui.login.ReportAttendance"
            android:label="@string/title_activity_report_attendance" />
        <activity android:name=".ShowStudentsInFeeReminder" />
        <activity android:name=".FeeReminder" />
        <activity android:name=".AddNewStudent" />
        <activity android:name=".Reports" />
        <activity android:name=".BatchDetails" />
        <activity android:name=".AddNewBatch" />
        <activity android:name=".FeeManagementDashboard" />
        <activity android:name=".Incomes" />
        <activity android:name=".Expenses" />
        <activity android:name=".ExpensesIncomesDashboard" />
        <activity android:name=".FeeReport" />
        <activity android:name=".SubmitFees" />
        <activity android:name=".ShowStudents" />
        <activity android:name=".MarkAttendence" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>